@charset "UTF-8";
/*Paleta de colores FREEWRLD*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* rem reset, 1rem = 10px */
}

h1 {
  color: #ffffff;
  font-size: 10vh;
  text-shadow: 0 0 30px #604CC3;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 4vh;
  margin-left: 10px;
  margin-right: 10px;
}

p {
  font-size: 2vh;
  margin-left: 10px;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html h1 {
  color: #ffffff;
  font-size: 6vw;
  text-shadow: 0 0 30px #604CC3;
}
html h2 {
  font-family: "Nunito", sans-serif;
  font-size: 3.5vw;
  margin-left: 10px;
  margin-right: 10px;
}
html h3 {
  font-family: "Nunito", sans-serif;
  font-size: 3vw;
  margin-left: 10px;
  margin-right: 10px;
}
html p {
  font-size: 2vh !important;
  margin-left: 10px;
  margin-right: 10px;
}

.parrafoEjemplo {
  color: #604CC3 !important;
}

.colorBoton {
  background-color: #604CC3;
  color: white;
}

@keyframes scaleIn {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
.galeria, .imagenesGridContainer .galeria2, .imagenesGridContainer .galeria1 {
  display: flex; /* Cambiar a flex */
  justify-content: center; /* Espacio entre las imágenes */
  align-items: center;
  gap: 0px;
}

.img, .imagenesGridContainer .galeria2, .imagenesGridContainer .galeria1 {
  border-radius: 8px;
  width: 20vw; /* Mantiene el ancho dentro del contenedor */
  height: 20vw; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  border: 1px solid #ffffff;
}

@keyframes rotar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-submit {
  background-color: rgba(212, 132, 255, 0.5019607843);
  color: #ffffff;
  border: solid #604CC3;
  border-radius: 50%;
  padding: 0.5rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 3px;
  height: 81%;
  width: 3rem;
}
.btn-submit:hover {
  background-color: rgba(255, 102, 0, 0.5);
  transform: scale(1.1);
  transition-duration: 0.2s;
}
.btn-submit .icono-boton {
  transition: transform 0.5s;
}
.btn-submit:hover .icono-boton {
  animation: rotar 1s linear infinite;
}

.icono-boton {
  width: 3rem;
  height: 3rem;
}

.subtituloImg {
  color: white;
  text-shadow: 0 0 30px #FF6600;
}

.subtitulo {
  padding-top: 100px;
  padding-bottom: 0px;
  margin-right: 0px;
  justify-content: center;
}

.formContainer {
  display: flex;
  flex-direction: column; /* Usar flex para centrar el formulario */
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
.formContainer .formImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem; /* 100% del contenedor */
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  margin-top: 0px;
}
.formContainer .formImg .buscadorImagenes {
  width: 60%;
  padding: 10px;
  border: 2px solid #604CC3;
  border-radius: 30px;
  outline: none;
}
.formContainer .formImg .buscadorImagenes:hover {
  border-color: rgba(255, 102, 0, 0.5019607843);
}
.formContainer .formImg .buscadorImagenes:focus {
  border-color: #FF6600;
}

.texto-nav-link, header .sub-header .nav-link, header nav div .tipografiaNav ul li a {
  text-decoration: none;
  color: #604CC3;
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
}
.texto-nav-link:hover, header .sub-header .nav-link:hover, header nav div .tipografiaNav ul li a:hover {
  color: #FF6600;
  font-weight: bold;
}
.texto-nav-link.active, header .sub-header .active.nav-link, header nav div .tipografiaNav ul li a.active {
  color: #FF6600;
  font-weight: bold;
  font-style: italic;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  align-items: center;
  background-color: #F5F5F5;
  padding: 0px;
  z-index: 1000;
}
header nav {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}
header nav div .logoInfinito {
  height: auto;
  width: 3rem;
  margin-right: 3px;
}
header nav div .logoInfinito:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}
header nav div .logo {
  font-size: 2rem;
  color: #604CC3;
  font-weight: bold;
  font-family: "SUSE", sans-serif;
  text-decoration: none;
  background-color: #F5F5F5;
}
header nav div .logo:hover {
  color: #FF6600;
}
@keyframes slideAbajo {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
header .sub-header {
  width: 100%;
  align-items: center;
  display: block;
  position: fixed;
  top: 40px;
  left: 0;
  background-color: #f8f9fa;
  transform: translateY(-100%);
  opacity: 0;
  z-index: -1;
  border-radius: 3px;
  animation: slideAbajo 0.6s ease forwards;
}
header .sub-header .nav-link {
  color: white;
  font-size: 1em;
  font-weight: bold;
}
header .sub-header .sub-color {
  background-color: #715ec3;
  border-radius: 3px;
}

footer {
  display: flex;
  background-color: #F5F5F5;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding: 5px;
}
footer p {
  display: flex;
  width: 30%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  margin: 0px;
}
footer p a {
  color: #000000;
  text-decoration: none;
  padding: 2px;
}
footer p a:hover {
  color: #FF6600;
}

/* Main Index */
.banner {
  width: 100%;
  height: 50vh;
  background-image: url(../media/universo-retro.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 0px;
  padding-right: 20px;
  padding-left: 20px;
}
.banner h1 {
  color: white;
  text-shadow: 0 0 30px #FF6600;
  transform: scale(1);
  animation: scaleIn 1s ease 0.5s forwards;
}

.texto-home {
  margin-top: 100px;
  padding-bottom: 200px;
}
.texto-home h2 {
  color: #000000;
  font-size: 3em;
}
.texto-home p {
  color: #000000;
  font-size: 1.5em;
  margin-bottom: 50px;
}
.texto-home ul.centro-index {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  /* Muestra los elementos de la lista en una fila */
  justify-content: center; /* Centra las imágenes horizontalmente */
}
.texto-home ul.centro-index li.imagenConTexto {
  margin: 10px; /* Espaciado entre las imágenes */
  position: relative; /* Necesario para posicionar el texto sobre la imagen */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px ridge #604CC3;
  width: 300px;
  height: 150px;
  align-content: center;
  padding: 0px;
  overflow: hidden;
}
.texto-home ul.centro-index li.imagenConTexto:hover {
  border: 4px solid #FF6600;
}
.texto-home ul.centro-index li.imagenConTexto:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  filter: blur(2px);
}
.texto-home ul.centro-index li.imagenConTexto img {
  width: 100%; /* Ajusta el tamaño de la imagen */
  height: 100%; /* Ajusta el tamaño de la imagen */
  object-fit: cover; /* Mantiene la proporción de la imagen */
  opacity: 0.9;
  transition: all 0.5s ease-in-out;
}
.texto-home ul.centro-index li.imagenConTexto .overlay-text {
  position: absolute; /* Posiciona el texto sobre la imagen */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centra el texto sobre la imagen */
  color: white; /* Color del texto */
  font-size: 1em; /* Tamaño del texto */
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  background-color: rgba(251, 119, 60, 0.8); /* Fondo semi-transparente para legibilidad */
  border-radius: 15px;
  padding: 10px;
  text-decoration: none; /* Elimina el subrayado del enlace */
}
.texto-home ul.centro-index li.imagenConTexto .overlay-text:hover {
  color: #180161;
  background-color: white;
}

main {
  width: 100%;
  height: 100%; /* Ocupa toda la altura de la pantalla */
  align-items: center;
  text-align: center;
  font-family: "SUSE", sans-serif;
  position: relative;
  z-index: 0;
}
main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../media/wallpaper2.jpg");
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.1; /* Controla el nivel de opacidad */
  z-index: -1; /* Mantiene el pseudo-elemento detrás del contenido */
}

p.contacto {
  font-size: 2vh;
}

div form textarea.alturaRecuadro {
  height: 30vh;
}

div div.mapResponsive {
  height: 40vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* Centra el mapa horizontalmente */
  align-items: center; /* Centra el mapa verticalmente si es necesario */
}
div div.mapResponsive iframe {
  position: absolute;
  width: 80vw; /* Hace que el iframe ocupe todo el ancho de la ventana */
  height: 100%;
  border: 0;
}

.ultimaPaginaContainer {
  width: 100%;
  padding-bottom: 80px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  justify-content: center;
}
.ultimaPaginaContainer .banner2 {
  height: 50vh;
  background-image: url(../media/fondo-acuarela1.jpg);
  background-size: cover;
  background-position: center;
  align-items: center;
  text-align: center;
  margin-bottom: 80px !important;
  margin: 0 auto;
  margin-top: 0px;
  overflow-x: hidden;
}
.ultimaPaginaContainer .banner2 h1 {
  color: white;
  text-shadow: 0 0 30px #FF6600;
}
.ultimaPaginaContainer .banner2 h1:hover {
  transform: scale(1.2);
  transition-duration: 1s;
}
.ultimaPaginaContainer div .primeraImagen {
  height: 250px;
  width: auto;
}
.ultimaPaginaContainer div .primerTexto {
  align-content: center;
  text-align: start;
}
.ultimaPaginaContainer div .primerTexto h2 {
  font-size: 3rem;
}
.ultimaPaginaContainer div .segundaImagen {
  height: 300px;
  width: auto;
}
.ultimaPaginaContainer div .segundoTexto {
  align-content: center;
  text-align: end;
}
.ultimaPaginaContainer div .segundoTexto h2 {
  font-size: 3rem;
}
.ultimaPaginaContainer div .ultimaImagen {
  height: 280px;
  width: auto;
}
.ultimaPaginaContainer div .tercerTexto {
  align-content: center;
  text-align: start;
}
.ultimaPaginaContainer div .tercerTexto h2 {
  font-size: 3rem;
}

.imagenesGridContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imagenesGridContainer .bannerPaginas {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.imagenesGridContainer .bannerPaginas img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.imagenesGridContainer .bannerPaginas .tituloBanner {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 15px;
}
.imagenesGridContainer .bannerPaginas .tituloBanner h1 {
  color: white;
  text-shadow: 0 0 30px #FF6600;
  transform: scale(1);
  animation: scaleIn 0.6s ease 0s forwards;
}
.imagenesGridContainer .bannerPaginas .tituloBanner h2 {
  color: white;
  text-shadow: 0 0 15px #FF6600;
}
.imagenesGridContainer .galeria1 {
  width: 80%;
}
.imagenesGridContainer .galeria2 {
  width: 80%;
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.slide-left {
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
.videoGridContainer {
  justify-content: center;
  align-content: center;
  margin: 0px;
}
.videoGridContainer .bannerPaginas {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.videoGridContainer .bannerPaginas .bannerVideo {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.videoGridContainer .bannerPaginas .bannerVideo video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.videoGridContainer .bannerPaginas .tituloBanner {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 15px;
}
.videoGridContainer .bannerPaginas .tituloBanner h1 {
  color: white;
  text-shadow: 0 0 30px #FF6600;
  transform: scale(1);
  animation: scaleIn 0.6s ease 0s forwards;
}
.videoGridContainer .bannerPaginas .tituloBanner h2 {
  color: white;
  text-shadow: 0 0 15px #FF6600;
}
.videoGridContainer .carrusel {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 200px;
}
.videoGridContainer .carrusel .carru1 {
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 80%;
}
.videoGridContainer .carrusel .carru1 .carousel-item {
  border-radius: 30px;
  overflow: hidden;
}
.videoGridContainer .carrusel .carru1 .carousel-item video {
  height: 30vh;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}
.videoGridContainer .carrusel button.centrar {
  width: 30%;
  height: 55%;
}

.musicaGridContainer .bannerPaginas {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.musicaGridContainer .bannerPaginas img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.musicaGridContainer .bannerPaginas .tituloBanner {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 15px;
}
.musicaGridContainer .bannerPaginas .tituloBanner h1 {
  color: white;
  text-shadow: 0 0 30px #FF6600;
  transform: scale(1);
  animation: scaleIn 0.6s ease 0s forwards;
}
.musicaGridContainer .bannerPaginas .tituloBanner h2 {
  color: white;
  text-shadow: 0 0 15px #FF6600;
}

/* MEDIA QUERIES */
@media (min-width: 577px) and (max-width: 1000px) {
  html, body {
    overflow-x: hidden;
  }
  .img4, .img5, .img9, .img10 {
    display: none;
  }
  .gridContainer {
    grid-template-rows: minmax(15vh, 40vh) minmax(5vh, 13vh) minmax(5vh, 15vh) minmax(15vh, 15vh);
    padding-bottom: 25px;
  }
  .ultimaPaginaContainer div {
    width: 100%;
    justify-content: center;
  }
  .ultimaPaginaContainer div .primeraImagen, .ultimaPaginaContainer div .segundaImagen, .ultimaPaginaContainer div .ultimaImagen {
    width: 70%;
    height: auto;
    margin: 0px;
  }
  .ultimaPaginaContainer div .primerTexto, .ultimaPaginaContainer div .segundoTexto, .ultimaPaginaContainer div .tercerTexto {
    width: 85%;
  }
  footer {
    align-items: center !important;
  }
  footer p {
    font-size: 1.5vh !important;
    width: 50%;
    padding: 0px;
    justify-content: center;
  }
  footer p a {
    padding: 5px;
  }
}
@media (max-width: 576px) {
  html h2 {
    font-size: 3vw;
  }
  header nav div a span {
    display: none;
  }
  .banner {
    height: 30vh;
  }
  .banner2 {
    margin: auto 0;
    margin-bottom: 15px !important;
    height: 30vh;
    margin-top: 0px !important;
    padding-top: 0px;
    overflow-x: hidden;
  }
  .marcaRegistrada {
    display: none;
  }
  .img4, .img5, .img9, .img10 {
    display: none;
  }
  .gridContainer {
    grid-template-rows: minmax(15vh, 30vh) minmax(5vh, 13vh) minmax(5vh, 15vh) minmax(15vh, 15vh);
    padding-bottom: 25px;
  }
  .texto-home {
    margin-top: 25px;
  }
  .texto-home p {
    margin-bottom: 5px;
    font-size: 2vh !important;
  }
  .ultimaPaginaContainer {
    padding-bottom: 15px;
  }
  .ultimaPaginaContainer div {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
  }
  .ultimaPaginaContainer div .primeraImagen {
    width: 95%;
    height: auto;
  }
  .ultimaPaginaContainer div .segundaImagen {
    order: 1;
    width: 95%;
    height: auto;
  }
  .ultimaPaginaContainer div .ultimaImagen {
    height: auto;
    width: 95%;
  }
  .segundoTexto {
    order: 2;
    align-content: center;
    text-align: center !important;
  }
  .primerTexto {
    align-content: center;
    text-align: center !important;
  }
  .tercerTexto {
    align-content: center;
    text-align: center !important;
  }
  .video-back {
    height: 30vh;
  }
  .subtitulo {
    padding-top: 30px !important;
  }
  footer {
    align-items: center !important;
  }
  footer p {
    font-size: 1.5vh !important;
    width: 50%;
    padding: 0px;
    justify-content: center;
  }
  footer p a {
    padding: 5px;
  }
  .contacto {
    font-size: 0.8clem !important;
  }
  .alturaRecuadro {
    width: 70% !important;
    height: 20vh !important;
  }
}

/*# sourceMappingURL=estilos.css.map */
