
/*Reset de CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  rem= relativa a la raiz.
    1rem= 16px por defecto
    1rem en celular es mas chico

    em= relativa al padre
*/

html {
    font-size: 62.5%; /* rem reset, 1rem = 10px */
}

h1{
    color: #ffffff;
    font-size: 10vh;
    text-shadow:0 0 30px #604CC3
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: 4vh !important;
    margin-left: 10px;
    margin-right: 10px;
}
p{
    font-size: 2vh !important;
    margin-left: 10px;
    margin-right: 10px;
}

.parrafoEjemplo{
color:#604CC3 !important;
}

.colorBoton{
    background-color: #604CC3;
    color: white;
}

/* ------------------------------------------------------------------------------------------------------------------------------ */



/* HEADER */

/* Header de todas las páginas */
header {
    display: flex;  
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    background-color: #F5F5F5;
    padding: 0px;
    z-index: 1000;

}

/* Estilo específico para el logo */
.logo {
    font-size: 2rem;
    color: #604CC3;
    font-weight: bold;
    font-family: "SUSE", sans-serif;
    text-decoration: none;
    background-color: #F5F5F5;
}

.container-fluid{
    width: 100%;
}
/* Contenedor de navegación, links a la derecha del header */
nav {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/* Estilo para los enlaces */
.tipografiaNav ul li a {
    text-decoration: none;
    color: #604CC3;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
}

/* Estilo para los enlaces en hover */
.tipografiaNav ul li a:hover {
    color: #ff6600; /* Cambia el color al pasar el mouse */
    font-weight: bold;
}

/* Estilo para el logo en hover */
.logo:hover {
    color: #FF6600;
}


/* FOOTER de todas las páginas*/
footer{
    display: flex;
    background-color: #F5F5F5;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    justify-content: center;    
    margin: 0;
    padding: 5px;
}

footer p{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    margin: 0px;
}

footer p a{
    color: #000000;
    text-decoration: none;
    padding: 2px;

}  

footer p a:hover{
    color:#ff6600
}


/* ------------------------------------------------------------------------------------------------------------------------------ */

/* HOME */
main{
    width: 100%;
    height: 100%; /* Ocupa toda la altura de la pantalla */
    align-items: center;
    text-align: center;
    font-family: "SUSE", sans-serif;
    position: relative;
    z-index: 0;
}


.main:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../media/wallpaper2.jpg");
    background-repeat: repeat;
    background-size: auto;
    opacity: 0.1; /* Controla el nivel de opacidad */
    z-index: -1; /* Mantiene el pseudo-elemento detrás del contenido */
}

.modal-backdrop {
    z-index: 1040 !important; /* El z-index predeterminado para el backdrop en Bootstrap */
}

.modal {
    z-index: 1050 !important; /* El z-index predeterminado para el modal */
}

.banner{
    width: 100%;
    height: 50vh;
    background-image: url(../media/universo-retro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center; 
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20px;
}


.texto-home h2{
    color: #000000;
    font-size: 3em;
}

.texto-home p{
    color: #000000;
    font-size: 1.5em;
    margin-bottom: 50px;
}

.texto-home {
    margin-top: 100px;
    padding-bottom: 200px;
}
/* Estilo para la imagen del banner */

ul.centro-index {
    list-style-type: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
     /* Muestra los elementos de la lista en una fila */
    justify-content: center; /* Centra las imágenes horizontalmente */
}

ul.centro-index li {
    margin: 10px; /* Espaciado entre las imágenes */
    position: relative; /* Necesario para posicionar el texto sobre la imagen */
}

/* Contenedor de imagen */
.imagenConTexto {
    position: relative; /* Establece el contenedor como relativo para el posicionamiento del texto */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px ridge #604CC3;
    width: 300px;
    height: 150px;
    align-content: center;
    padding: 0px;
}

.imagenConTexto:hover{
    border: 4px solid #FF6600;
}
/* Estilo para la imagen */
.imagenConTexto img {
    width: 100%; /* Ajusta el tamaño de la imagen */
    height: 100%; /* Ajusta el tamaño de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    opacity: 0.9;
}

/* Estilo para el texto sobre la imagen */
.overlay-text {
    position: absolute; /* Posiciona el texto sobre la imagen */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el texto sobre la imagen */
    color: white; /* Color del texto */
    font-size: 1em; /* Tamaño del texto */
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    background-color: rgb(251, 119, 60, 0.8); /* Fondo semi-transparente para legibilidad */
    border-radius: 15px;
    padding: 10px;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.overlay-text:hover{
    color: #180161;
    background-color: white;
}
/* ------------------------------------------------------------------------------------------------------------------------------ */

 /*CONTACTO*/

.contacto{
    font-size: 2vh !important;
}   
.alturaRecuadro{
    height: 30vh;
}
.mapResponsive{
    height: 40vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center; /* Centra el mapa horizontalmente */
    align-items: center; /* Centra el mapa verticalmente si es necesario */
}
.mapResponsive iframe{
    position: absolute;
    width: 80vw; /* Hace que el iframe ocupe todo el ancho de la ventana */
    height: 100%;
    border: 0;
}

/*ULTIMA PAGINA - SOBRE NOSOTROS*/

.primerTexto{
    align-content: center;
    text-align: start;
}

.segundoTexto{
    align-content: center;
    text-align: end;
}

.tercerTexto{
    align-content: center;
    text-align: start;
}

.sobre-freewrld{
    color: white;
    text-shadow:0 0 3px #FF6600;
    font-size: 5em;

}

.ultimaPaginaContainer{
    width: 100%;
    padding-bottom: 80px;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

.banner2{
    height: 50vh;
    background-image: url(../media/fondo-acuarela1.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 80px !important;
    margin-right: 0px !important;
    margin-top: 0px;
}



/* ------------------------------------------------------------------------------------------------------------------------------ */

/*IMAGENES*/

.gridContainer {
    display: grid;
    grid-template-areas:
        "tituloImagen tituloImagen tituloImagen tituloImagen tituloImagen"
        "imgContainer1 imgContainer1 imgContainer1 imgContainer1 imgContainer1"
        "buscador buscador buscador buscador buscador"
        "imgContainer2 imgContainer2 imgContainer2 imgContainer2 imgContainer2"; /* Definición de las áreas */
    grid-template-rows: 
    minmax(15vh, 50vh) 
    minmax(10vh, 30vh)
    minmax(5vh, 15vh)
    minmax(10vh, 30vh); /* Altura de filas */
    grid-template-columns: repeat(5, 1fr); /* 5 columnas */
    gap: 2px 0px;
    padding: 20px;
    padding-bottom: 300px;
}

.tituloImagen {
    grid-area: tituloImagen; /* Coincide con el área del grid */
    text-align: center;
    align-content: center;
    background-image: url(../media/bosque.jpg);
    background-size: cover;
    background-position: center;
    text-align: center; 
    margin-bottom: 15px;
    border-radius: 4px;

}

.tituloImagen h1{
    color: white;
    font-size: 7em;
    text-shadow:0 0 30px #Ff6600
}

.tituloImagen h2{
    color: white;
    font-size: 3em;
    text-shadow:0 0 30px #Ff6600
}

.galeria1 {
    grid-area: imgContainer1; /* Asigna el área para la primera galería */
    display: flex; /* Cambiar a flex */
    justify-content: space-between; /* Espacio entre las imágenes */
    gap: 0px;

}

.galeria2 {
    grid-area: imgContainer2; /* Asigna el área para la segunda galería */
    display: flex; /* Cambiar a flex */
    justify-content: space-between; /* Espacio entre las imágenes */
    gap: 0px;
}

.img {
    border-radius: 8px;
    width: 100%; /* Mantiene el ancho dentro del contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border: 1px solid#ffffff;
}

.formContainer {
    grid-area: buscador; /* Coincide con el área del grid */
    display: flex; /* Usar flex para centrar el formulario */
    justify-content: center;
    align-items: center;
}


.formContainer2 {
    display: block; /* Usar flex para centrar el formulario */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.formImg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* 100% del contenedor */
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-top: 0px;
}

.buscadorImagenes {
    width: 60%;
    padding: 10px;
    border: 2px solid #604CC3;
    border-radius: 5px;
    outline: none;
}
.buscadorImagenes:hover{
    border-color: #FF660080;
}
.buscadorImagenes:focus{
    border-color: #FF6600;
}


/*VIDEOS*/

.video-back{
    position: relative;
    height:50vh; /* Ocupa el alto completo de la ventana */
    width: 100%;
    overflow: hidden;
    grid-area: tituloImagen; /* Coincide con el área del grid */
    align-content: center;
}
.video-back video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover;
    object-position: center;
}
.tituloVideo {
    position: relative;
    z-index: 1; /* Asegura que el texto esté encima */
    align-content: center;
    align-items: center;
    text-align: center; 
    margin-bottom: 15px;
    border-radius: 4px;

}

.tituloVideo h1{
    color: white;
    font-size: 7em;
    text-shadow:0 0 30px #Ff6600
}

.tituloVideo h2{
    color: white;
    font-size: 3em;
    text-shadow:0 0 30px #Ff6600
}


.carru1 video{
    height: 30vh;
    object-fit: cover;
    object-position: center center; 
    width: 100%;
}

.carrusel{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 200px;

}

.carousel-inner {
    justify-content: center;
    align-items: center;
    object-fit: cover;
    width: 80%;
}

.centrar{
    width: 30%;
    height: 50%;
}

.centrarTexto{
    justify-content: center !important;
}

.carousel-item{
border-radius: 30px;
overflow: hidden;
}

.subtitulo{
    padding-top: 100px !important;
    padding-bottom: 0px !important;
    margin-right: 0px !important;
    justify-content: center;
} 

/* .row{
    margin-left: 0px !important;
} */

/* MEDIA QUERIES */
/* REGLA */ /* MEDIO */ /* TAREA */

@media (min-width:577px) and (max-width:1000px){
    .img4, .img5, .img9, .img10{
        display: none;
    }

.gridContainer{
    grid-template-rows: 
    minmax(15vh, 40vh) 
    minmax(5vh, 13vh)
    minmax(5vh, 15vh)
    minmax(15vh, 15vh);
    padding-bottom: 25px;
}

footer{
    align-items: center !important;
}

footer p{
    font-size: 1.5vh !important;
    width: 50%;
    padding: 0px;
    justify-content: center;
}

footer p a{
    padding: 5px;
}


/*MEDIA QUERIE MOBILE*/
/*mobile*/
/*que lo que coloque entre las () de la mediaq se aplique en dispositivos hasta los 576px de ancho */


}
@media (max-width: 576px){

h1{
    font-size: 10vw !important;
}

h2{
    font-size: 4vw !important;
}

.banner{
    height: 30vh;
}

.banner2{
    margin-right: 0px !important;
    margin-bottom: 15px !important;
    height: 30vh;
    margin-top: 0px !important;
    padding-top: 0px;
}


.marcaRegistrada{
    display: none;
}

.img4, .img5, .img9, .img10{
    display: none;
}

.gridContainer{
    grid-template-rows: 
    minmax(15vh, 30vh) 
    minmax(5vh, 13vh)
    minmax(5vh, 15vh)
    minmax(15vh, 15vh);
    padding-bottom: 25px;
}

.texto-home{
    margin-top: 25px;
}
.texto-home p{
    margin-bottom: 5px;
    font-size: 2vh !important;
}

.ultimaPaginaContainer div{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.ultimaPaginaContainer{
    padding-bottom: 15px;
}
.segundoTexto{
    order:2;
}
.segundaImagen{
    order: 1;

}

.video-back{
    height: 30vh;
}

.subtitulo{
    padding-top: 30px !important;
}

footer{
    align-items: center !important;
}

footer p{
    font-size: 1.5vh !important;
    width: 50%;
    padding: 0px;
    justify-content: center;
}

footer p a{
    padding: 5px;
}


.contacto{
    font-size: 0.8clem !important;
}
.alturaRecuadro{
    width: 70% !important;
    height: 20vh !important;

}
}
