.texto-nav-link {
    text-decoration: none;
    color: $violeta;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;

    &:hover {
        color: $naranja;
        font-weight: bold;
    }
    &.active {
        color: $naranja;  // Color para destacar la página actual
        font-weight: bold;
        font-style: italic;  // Puedes añadir un subrayado o algún estilo distintivo
        pointer-events: none;  // Desactiva el hover y hace que no sea clickeable
    }
}

header{
    display: flex;  
    flex-direction: column;
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    align-items: center;
    background-color: $gris;
    padding: 0px;
    z-index: 1000;

    nav{
        display: flex;
        margin: 0;
        padding: 0;
        background-color: $gris;

        div{
            .logoInfinito{
                height: auto;
                width: 3rem;
                margin-right: 3px;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 0.5s;
                }
            }
            .logo{
                    font-size: 2rem;
                    color: $violeta;
                    font-weight: bold;
                    font-family: "SUSE", sans-serif;
                    text-decoration: none;
                    background-color: $gris;
                    &:hover{
                        color: $naranja;
                    }
                
            }
            .tipografiaNav ul li a {
                @extend .texto-nav-link;
            }
        }
    }


// Define la animación
@keyframes slideAbajo {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
    .sub-header {
        width: 100%;
        align-items: center;
        display: block;  // Oculto inicialmente
        position: fixed;   // Cambio a fixed
        top: 40px;         // Ajusta este valor según la altura de tu primer nav
        left: 0;
        background-color: #f8f9fa;
        transform: translateY(-100%);
        opacity: 0;
        z-index: -1;
        border-radius: 3px;
        animation: slideAbajo 0.6s ease forwards; // Aplica la animación al cargar


        .nav-link{
        @extend .texto-nav-link;
        color:white;
        font-size: 1em;
        font-weight: bold;
        }
         // Muestra y despliega el sub-header cuando el usuario pasa cerca del header
        .sub-color{
            background-color: #715ec3;
            border-radius: 3px;
        }
        
    }
    
}


footer{
    display: flex;
    background-color: $gris;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    list-style-type: none;
    justify-content: center;    
    margin: 0;
    padding: 5px;

    p{
        display: flex;
        width: 30%;
        height: 100%;
        align-items: center;
        align-content: center;
        justify-content: space-evenly;
        margin: 0px;
        a{
            color: #000000;
            text-decoration: none;
            padding: 2px;
            &:hover{
                color:$naranja
            }
        }
    }
}