main{
    width: 100%;
    height: 100%; /* Ocupa toda la altura de la pantalla */
    align-items: center;
    text-align: center;
    font-family: "SUSE", sans-serif;
    position: relative;
    z-index: 0;
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../media/wallpaper2.jpg");
        background-repeat: repeat;
        background-size: auto;
        opacity: 0.1; /* Controla el nivel de opacidad */
        z-index: -1; /* Mantiene el pseudo-elemento detrás del contenido */
    }
}