/* MEDIA QUERIES */

/* ----------------------------------------------------TABLET------------------------------------------------------*/
@media (min-width:577px) and (max-width:1000px) {

/* ------------------------------TODAS LAS PAGINAS--------------------------------*/

    .subtitulo{
        h2{
            font-size: 2.5rem;
        }
    }
    footer{
        align-items: center !important;
        p{
            font-size: 1.5vh !important;
            width: 50%;
            padding: 0px;
            justify-content: center;
            a{
                padding: 5px;
            }
        }
    }
/* ------------------------------pag INDEX--------------------------------*/

    .texto-home{
        h2{
            font-size: 2.5em;
        }
    }
/* ------------------------------pag IMAGENES--------------------------------*/

    .img4, .img5, .img9, .img10{
        display: none;
    }

/* ------------------------------pag SOBRE NOSOTROS--------------------------------*/
    .ultimaPaginaContainer{
        div{
            width: 100%;
            justify-content: center;
            .primeraImagen, .segundaImagen, .ultimaImagen{
                width: 70%;
                height: auto;
                margin: 0px;
            }
            .primerTexto, .segundoTexto, .tercerTexto{
                width: 85%;
            }

        }
    }
}

/* ----------------------------------------------------MOBILE------------------------------------------------------*/
@media (max-width: 576px){
/* ------------------------------TODAS LAS PAGINAS--------------------------------*/
    html{
        h2{
        font-size: 3vw;
        }
    }
    header{
        nav{
            div{
                a{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
    .subtitulo{
        margin-bottom: 10px;
        h2{
            font-size: 2.5rem;
        }
    }


    footer{
        align-items: center !important;
        p{
            font-size: 1.5vh !important;
            width: 50%;
            padding: 0px;
            justify-content: center;
            a{
                padding: 5px;
            }
            .marcaRegistrada{
                display: none;
            }
        }
    }
/* ------------------------------pag INDEX--------------------------------*/
    .banner{
            height: 30vh;
    }
    .texto-home{
        h2{
            font-size: 2em;
        }
    }
/* ------------------------------pag IMAGENES--------------------------------*/
    .img4, .img5, .img9, .img10{
        display: none;
    }
    
/* ------------------------------SOBRE NOSOTROS--------------------------------*/
    .ultimaPaginaContainer{ 
        padding-bottom: 15px;
        .banner2{
            margin: auto 0;
            margin-bottom: 15px !important;
            height: 30vh;
            margin-top: 0px !important;
            padding-top: 0px;
            overflow-x: hidden;
        }
        div{
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-top: 5px;
            .primerTexto{
                align-content: center;
                text-align: center !important;
            }
            .primeraImagen{
                width: 95%;
                height: auto;
            }
            .segundoTexto{
                order:2;
                align-content: center;
                text-align: center !important;
            }
            .segundaImagen{
                order: 1;
                width: 95%;
                height: auto;
            
            }
            .tercerTexto{
                align-content: center;
                text-align: center !important;
            }
            .ultimaImagen{
                height: auto;
                width: 95%;
            }
        }
    }
/* ------------------------------pag CONTACTO--------------------------------*/
    .contacto{
        font-size: 0.8clem !important;
    }
    .alturaRecuadro{
        width: 70% !important;
        height: 20vh !important;
    
    }
}
