
.ultimaPaginaContainer{
    width: 100%;
    padding-bottom: 80px;
    margin-right: 0px !important;
    padding-right: 0px !important;
    justify-content: center;
    .banner2{
        height: 50vh;
        background-image: url(../media/fondo-acuarela1.jpg);
        background-size: cover;
        background-position: center;
        align-items: center;
        text-align: center; 
        margin-bottom: 80px !important;
        margin-right: 0px !important;
        margin-top: 0px;
        h1{
            color: white;
            text-shadow:0 0 30px $naranja;
            &:hover{
                transform: scale(1.2);
                transition-duration: 1s;
            }
        }
    }

    div{
        .primeraImagen{
            height: 250px;
            width:auto;
        }
        .primerTexto{
        @include textoSobreNosotros (center,start);
        h2{
            font-size: 3rem;
        }
        }
    }
    div{
        .segundaImagen{
            height: 300px;
            width:auto;
        }
        .segundoTexto{
        @include textoSobreNosotros (center,end);
        h2{
            font-size: 3rem;
        }
        }
    }

    div{
        .ultimaImagen{
            height: 300px;
            width:auto;
        }
        .tercerTexto{
        @include textoSobreNosotros (center,start);
        h2{
            font-size: 3rem;
        }
        }
    }
}