.videoGridContainer{
    justify-content: center;
    align-content: center;
    margin: 0px;
    .video-back{
        position: relative;
        height: 50vh; /* Ocupa el alto completo de la ventana */
        overflow: hidden;
        align-content: center;
        margin-right: 0px;
        margin-left: 0px;
        div video{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100vw;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 0;
            object-fit: cover;
            object-position: center;
        }
        div.tituloVideo{
            position: relative;
            z-index: 1; /* Asegura que el texto esté encima */
            align-content: center;
            align-items: center;
            text-align: center; 
            margin-bottom: 15px;
            border-radius: 4px;
            h1{
                color: white;
                font-size: 7em;
                text-shadow:0 0 30px $naranja;
                &:hover{
                    transform: scale(1.2);
                    transition-duration: 1s;
                }
            }
            h2{
                @extend .subtituloImg;
            }
        }
    }
    .subtitulo{
        padding-top: 100px !important;
        padding-bottom: 0px !important;
        margin-right: 0px !important;
        justify-content: center;
    }
    .formContainer2{
        display: block; /* Usar flex para centrar el formulario */
        justify-content: center;
        align-items: center;
        text-align: center;
        .formImg{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%; /* 100% del contenedor */
            width: 100%;
            padding: 20px;
            border-radius: 10px;
            margin-top: 0px;
            .buscadorImagenes{
                width: 60%;
                padding: 10px;
                border: 2px solid $violeta;
                border-radius: 5px;
                outline: none;
                &:hover{
                    border-color: #FF660080;
                }
                &:focus{
                    border-color: $naranja;
                }
            }
        }
    }
    .carrusel{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
        .carru1{
            justify-content: center;
            align-items: center;
            object-fit: cover;
            width: 80%;
            .carousel-item{
                border-radius: 30px;
                overflow: hidden;
                video{
                    height: 30vh;
                    object-fit: cover;
                    object-position: center center; 
                    width: 100%;
                }
            }
        }
        button.centrar{
            width: 30%;
            height: 55%;
        }
    }
}