.videoGridContainer{
    justify-content: center;
    align-content: center;
    margin: 0px;
    @include banner("../../media/inteligenciaVideo.mp4", true); // Para la página de video
    .carrusel{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        padding-bottom: 200px;
        .carru1{
            justify-content: center;
            align-items: center;
            object-fit: cover;
            width: 80%;
            .carousel-item{
                border-radius: 30px;
                overflow: hidden;
                video{
                    height: 30vh;
                    object-fit: cover;
                    object-position: center center; 
                    width: 100%;
                }
            }
        }
        button.centrar{
            width: 30%;
            height: 55%;
        }
    }
}